<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>LibraryManagementSystem</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>action.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ShowReadersServlet</servlet-name>
    <servlet-class>action.ShowReadersServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>action.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SelectReaderServlet</servlet-name>
    <servlet-class>action.SelectReaderServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddReaderServlet</servlet-name>
    <servlet-class>action.AddReaderServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateReaderServlet</servlet-name>
    <servlet-class>action.UpdateReaderServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddBorrowServlet</servlet-name>
    <servlet-class>action.AddBorrowServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SelectBorrowServlet</servlet-name>
    <servlet-class>action.SelectBorrowServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateBorrowServlet</servlet-name>
    <servlet-class>action.UpdateBorrowServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteBorrowServlet</servlet-name>
  	<servlet-class>action.DeleteBorrowServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowReadersServlet</servlet-name>
    <url-pattern>/ShowReadersServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SelectReaderServlet</servlet-name>
    <url-pattern>/SelectReaderServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddReaderServlet</servlet-name>
    <url-pattern>/AddReaderServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateReaderServlet</servlet-name>
    <url-pattern>/UpdateReaderServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddBorrowServlet</servlet-name>
    <url-pattern>/AddBorrowServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SelectBorrowServlet</servlet-name>
    <url-pattern>/SelectBorrowServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateBorrowServlet</servlet-name>
    <url-pattern>/UpdateBorrowServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteBorrowServlet</servlet-name>
  	<url-pattern>/DeleteBorrowServlet</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <jsp-config>
    <taglib>
      <taglib-uri>http://java.sun.com/jsp/jstl/core</taglib-uri>
      <taglib-location>/WEB-INF/c.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://java.sun.com/jsp/jstl/fmt</taglib-uri>
      <taglib-location>/WEB-INF/fmt.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://java.sun.com/jsp/jstl/sql</taglib-uri>
      <taglib-location>/WEB-INF/sql.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://java.sun.com/jsp/jstl/x</taglib-uri>
      <taglib-location>/WEB-INF/x.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://java.sun.com/jsp/jstl/fn</taglib-uri>
      <taglib-location>/WEB-INF/fn.tld</taglib-location>
    </taglib>
  </jsp-config>
</web-app>